body{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    font-family: YoungSerif;
    src: url('recipe-page-main/assets/fonts/young-serif');
    background-color: #F2D2BD;
    color: #4A2C23;
}

.Rec{
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 200px;
}

.image{
    display: block;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

.Prep{
    background: #FFE4E1;
    border-radius: 10px;
    width: 500px;
    height: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.Prep h3{
    padding-left: 10px;
}

.Prep li{
    padding-left: 30px;
}

.Ingredients{
    border-style: solid;
    border-top: white;
    border-left: white;
    border-right: white;
    border-color: lightgrey;
}

.Instructions{
    border-style: solid;
    border-top: white;
    border-left: white;
    border-right: white;
    border-color: lightgrey;
}

.NutritionNumbers{
    color: brown;
}

table td{
    border-bottom: solid lightgrey;
    padding-right: 200px;
}