body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: YoungSerif;
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
    background-color: #F2D2BD;
    color: #4a2c23;
}

.Recipe{
    max-width: 500px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    margin: 200px;
}

.image{
    display: block;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

.PreparationSection{
    background: #FFE4E1;
    border-radius: 10px;  
    width: 500px;
    height: 125px;
    padding-top: 5px;
    padding-bottom: 5px; 
}

.PreparationSection h3{
    padding-left: 10px;
}

.PreparationSection li{
    padding-left: 30px
}

.IngredientsSection{
    border-style: solid;
    border-top: white;
    border-left: white;
    border-right: white;
    border-color: lightGray;
}

.InstructionSection{
    border-style: solid;
    border-top: white;
    border-left: white;
    border-right: white;
    border-color: lightGray;
}


.NutritionNumbers{
    color: Brown;
}

table td{
    border-bottom: solid lightgray;
    padding-right: 200px;
}